[Unit]
Description=Network Traffic Monitoring Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/traffic_monitor.sh <NetworkInterface> pi
Restart=always
User=root
# Use ExecStartPre to create logs directory owned by <LogUser>
ExecStartPre=/bin/mkdir -p /home/pi/traffic_logs
ExecStartPre=/bin/chown -R pi:pi /home/pi/traffic_logs

[Install]
WantedBy=multi-user.target

